<header class="header">

	<div class="wrapper">
		<div class="header__strip header-strip">
			<div class="header-strip__left">
				<a href="#" class="header-strip__logo" title="home">
					<img src="/img/logo.svg" alt="logo">
				</a>
				<nav class="header-strip__menu">
					<ul class="header-strip__menu-list">
						<li><a href="#" target="_blank" title="Услуги">УСЛУГИ</a></li>
						<li><a href="#" target="_blank" title="Абонементы">АБОНЕМЕНТЫ</a></li>
						<li><a href="#" target="_blank" title="Почему мы">ПОЧЕМУ МЫ</a></li>
						<li><a href="#" target="_blank" title="Оборудование">ОБОРУДОВАНИЕ</a></li>
						<li><a href="#" target="_blank" title="Акции">АКЦИИ</a></li>
						<li><a href="#" target="_blank" title="FAQ">FAQ</a></li>
						<li><a href="#" target="_blank" title="Контакты">КОНТАКТЫ</a></li>
					</ul>
				</nav>
				<div class="burger-menu">
					<span></span>
				</div>
			</div>
			
			<div class="header-strip__right">
				<div class="header-strip__phone ">
					<a href="tel:+79999999999" class="skew">
						<img src="/img/phone.svg" alt="phone-ico" class="skew__inner anim-phone" >
					</a>
				</div>
				<div class="header-strip__btn">
					<button class="btn skew js-form">
						<span class="skew__inner">ОСТАВИТЬ ЗАЯВКУ</span>
					</button>
				</div>
			</div>
		</div>
	</div>
</header>
